**/*/cache
**/*/config
**/*/libraries
**/*/logs
**/*/versions
**/*/world
**/*/world_nether
**/*/world_the_end
**/*/resources
**/*/flat
**/*/flatroom
**/*/ken
**/*/TUSB
**/*/100000m
**/*/Apricity_Athletic_Formal
**/*/.*
**/*/*.*
!*.sh
!*.jar
!*.yml
!*.yaml
**/plugins/DiscordSRV/*
**/plugins/DiscordNickTag/*
**/plugins/DiscordLevelTag/*
!**/*/spigot.yml
!**/*/bukkit.yml
!**/*/server.properties
!**/*/config/
**/*/crash-reports/
**/*/wd_filehost/
db/data
db/log
db/my.cnf